body {
    font-family: Arial;
    padding: 30px;
  }
  
  form {
    max-width: 300px;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
  }
  