body {
    font-family: Arial;
    padding: 30px;
  }
  
  form {
    max-width: 400px;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
  }
  